.Button-styled {
  background-color: #222;
  padding: .5rem 2rem;
  margin: 1rem;
  border: solid 2px #222;
  border-radius: 10px;
  color: #eee;

  transition-duration: 100ms;
  transition-delay: 50ms;
}

.Button-styled:hover {
  background-color: #333;
}

.radio-container {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: rgb(188, 211, 238);
	border: solid 2px #0003;
	border-radius: 10px;
	padding: .7rem 1rem;
	margin-bottom: .3rem;

	transition: all 100ms;
}

.radio-container input[type="radio"] {
	appearance: none;
	
	background-color: #eee;
	border: solid 1px #0ff;
	border-radius: 50%;
	padding: .5rem;
	
}

.radio-container input[type="radio"]:checked {
	background-image: radial-gradient(white 30%, #0ff 40%);
}

.radio-container:not(:has(input[type="radio"]:checked)) {
	opacity: .6;
}